body {
  background: aqua;
}

.clock {
  position: relative;
  text-align: center;
  color: #e98208;
  font-size: 60px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 7px;
}

.text1 {
  position: relative;
  text-align: center;
  color: #e98208;
  font-size: 50px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 7px;
}

.text2 {
  position: relative;
  text-align: center;
  color: #e98208;
  font-size: 40px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 7px;
  margin-right: 100px;
  margin-left: 100px;
}

 img {
     margin-left: 40%;
     width: 17%;
}
#zaman{
  color: #e98208;
  border: solid 4px;
  border-color:#e98208 ;
  border-radius:20px;
  display: inline-block;
  background-color:bisque;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  
}
h1:hover {
 opacity: 0.8;
}